<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{PROJECT_NAME}} - {{PROJECT_SECTION}}</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="{{PROJECT_NAME}}">
	<meta name="description" content="{{PROJECT_DESCRIPTION}}">
	
	<meta name="author" content="{{PROJECT_AUTHOR}}">
	<meta name="reply-to" content="{{PROJECT_AUTHOR_CONTACT}}">
	<link rev="made" href="mailto:{{PROJECT_AUTHOR_CONTACT}}">
	<meta name="keywords" content="{{PROJECT_KEYWORDS}}">
	<meta name="Resource-type" content="Document">
	<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{PROJECT_URL}}">
	<meta property="og:title" content="{{PROJECT_NAME}}">
	<meta property="og:description" content="{{PROJECT_DESCRIPTION}}">
	<meta property="og:image" content="{{PROJECT_URL}}/web/img/hero.jpeg">


	<link rel="stylesheet" type="text/css" href="./views/static/css/vars.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="./views/static/css/styles.css{{PROJECT_MODE}}">
	
</head>
<body>